@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../boxicons-2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/header.css">
    <title>Admin</title>
</head>
<body>
<!-- login register -->
    <div id="login_content">
        <div id="item_content">
            <img src="../img/logoEval.png" alt="" class="login_image">
            <form asp-action="VerificationLoginAdmin" asp-controller="Login">
                <div class="champ">
                    <p>Email</p>
                    <input type="email" placeholder="Enter your Email ." name="email" value="admin@gmail.com">
                </div>
                <div class="champ">
                    <p>Password</p>
                    <input type="password" placeholder="Enter your password ." name="password" value="admin">
                </div>
                <div class="remember_forgot">
                    <div class="remember_me">
                        <input type="checkbox" name="remember_me">
                        <p>Remember Me</p>
                    </div>
                    <p>Forgot Password?</p>
                </div>
            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
                {
                    <div><label 
                    style="color: red;font-size: small; text-decoration: underline;">
                    @ViewData["ErrorMessage"]
                    </label>
                    </div>
                }
                <button type="submit">Login</button>
            </form>
            <div class="not_registered">
                <p><span>Not registered yet?</span><span class="create_account"><a href="@Url.Action("RegisterPage", "Login")" style="text-decoration:none;"> Create an account?</a></span></p>
            </div>
        </div>
    </div>
</body>
</html>